<div class="jumbotron">

  <h1>種下創意的種子！</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda voluptatum pariatur velit debitis ipsum commodi maxime, fuga, aut ipsam voluptatem eum rerum aperiam. Ab aspernatur, quae accusamus numquam quam blanditiis!</p>

  <p><a class="btn btn-primary btn-lg" href="#" role="button">立即註冊</a></p>

</div>
